.FAQ
  .Title
    text-align: center
    font-size: 3.5em
    font-weight: 800
    margin-bottom: .1em
    line-height: 1.1em

    @media screen and (max-width: 720px)
      font-size: 2.2em

  .Subtitle
    font-size: 1.3em
    text-align: center
    color: #696969
    margin-bottom: 3.5em

    @media screen and (max-width: 720px)
      font-size: 1.05em

  .Questions
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap

    .QAndA
      width: 47%    
      margin-bottom: 4em
      
      h3
        font-size: 2em
        font-weight: 700
        line-height: 1.07em

      p
        font-size: 1.2em
        color: #757575
        font-weight: 400
        text-align: justify
        line-height: 1.49em
        margin: 0