.Landing
  position: relative
  height: 85vh

  .Content
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-50%, -50%)

    h1
      font-size: 5em
      font-weight: 1000
      line-height: 1.1em
      text-align: center

    p
      font-size: 1.3em
      text-align: center
      color: #696969
      margin-bottom: 1.5em

    .Btns
      display: flex
      justify-content: center

.About
  .AboutSection
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 135px

    &:last-child
      margin-bottom: 0
    
    img
      display: block
      width: 40%
      border-radius: 8px
      box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%)
      user-select: none

    h1
      font-size: 2em
      font-weight: 700
      line-height: 1.1em
      margin-bottom: .7em

    p
      font-size: 1.2em
      text-align: justify
      color: #696969
      margin: 0